th.header {
    background-color: #D8D8D8;
    cursor: pointer;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: center left;
    padding-left: 10px;
    border-right: 1px solid #dad9c7;
    margin-left: -1px;
}

th.headerSortUp {
    background-color: #008CBA;
    color: #FFFFFF;
}

th.headerSortDown {
    background-color: #008CBA;
    color: #FFFFFF;
}

